<!-- src/app/idea-form/idea-form.component.html -->
<div class="max-w-lg mx-auto mt-12 p-6 bg-white rounded-lg shadow-lg post-container  ">
    <h1 class="text-2xl font-semibold text-gray-800 mb-4 ">Condividi la Tua Idea</h1>
    <form (ngSubmit)="onSubmit()" #ideaForm="ngForm">
        <div class="mb-4">
            <label for="name" class="block text-gray-700 text-sm font-medium mb-2">Nome dell'Idea</label>
            <input 
                type="text" 
                id="name" 
                name="name" 
                [(ngModel)]="idea.name" 
                required
                class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-emerald-500"
                placeholder="Inserisci il nome dell'idea" 
            />
        </div>
        <div class="mb-4">
            <label for="description" class="block text-gray-700 text-sm font-medium mb-2">Descrizione dell'Idea</label>
            <textarea 
                id="description" 
                name="description" 
                [(ngModel)]="idea.description" 
                (input)="updateCharacterCount($event)" 
                required
                rows="4"
                class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-emerald-500 resize-none"
                placeholder="Descrivi la tua idea" 
            ></textarea>
            <div class="block text-gray-700 text-sm font-medium mb-2">
                {{ charDisp }} Caratteri disponibili
                <p class="text-red-500 text-sm mt-2" [class.invisible]="charDisp >= 0">Hai superato il limite massimo di caratteri!</p>
            </div>
            <!-- Markdown buttons -->
            <div class="flex space-x-2 mt-4">
                <button 
                    type="button" 
                    (click)="addMarkdown('**', '**')" 
                    class="bg-gray-200 text-gray-800 py-1 px-3 rounded-lg hover:bg-gray-300 transition duration-300"
                >
                    Grassetto
                </button>
                <button 
                    type="button" 
                    (click)="addMarkdown('__', '__')" 
                    class="bg-gray-200 text-gray-800 py-1 px-3 rounded-lg hover:bg-gray-300 transition duration-300"
                >
                    Sottolinea
                </button>
                <button 
                    type="button" 
                    (click)="addMarkdown('*', '*')" 
                    class="bg-gray-200 text-gray-800 py-1 px-3 rounded-lg hover:bg-gray-300 transition duration-300"
                >
                    Italico
                </button>
            </div>
        </div>
        <button 
            type="submit" 
            class="w-full bg-emerald-600 text-white py-2 px-4 rounded-lg hover:bg-emerald-300 transition duration-300 focus:outline-none focus:ring-2 focus:ring-indigo-500"
            [class.disabled]="charDisp < 0"
        >
            Invia Idea
        </button>
    </form>
</div>
